body {
    background-color: #18191A;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.container {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.display {
    font-size: 72px;
    color: #2c3e50;
    margin: 30px 0;
    font-weight: bold;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
}

.buttons {
    margin-top: 30px;
}

button {
    font-size: 18px;
    padding: 15px 30px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#startBtn {
    background-color: black;
    color: white;
}

#startBtn:hover {
    background-color:indigo;
}

#stopBtn {
    background-color:blue;
    color: white;
}

#stopBtn:hover {
    background-color: #c0392b;
}

#resetBtn {
    background-color: yellow;
    color: black;
}

#resetBtn:hover {
    background-color: #2980b9;
}